<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <head>
    <meta charset="utf-8">
     <div class="select2-container text-center">
       <h1>About:</h1></div>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <p class="alert alert-warning">
           This is the password generator made by D. Schalimov. It's one of my first web project .
            02/06/2020</p>
          <a href="{ %'home'% }" class="btn btn-warning">

</a>
      </header>
    </div>
  </body>
</html>













<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="select2-container text-center">
<h1> About </h1>

<p class="alert alert-warning">
    This is the password generator made by D. Shali in one day. It's my first project as in django as in html.
    02/06/2020


<a href="{ %'home'% }" class="btn btn-warning">

</a>



</p>
</div>