<!DOCTYPE html>
<html lang="ru">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Password Generator</title>
  <head>
    <meta charset="utf-8">
     <div class="select2-container text-center">
       <h1>About:</h1>
     </div>
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <p class="alert alert-warning">
           This is the password generator made by Dmitriy Schalimov. It's the first web project in my portfolio.
            02/06/2020</p>
       </header>
          <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
          <a href="https://schalimov.pythonanywhere.com" class="btn btn-primary">My web page</a>
          <a href="https://github.com/python-the-snake/Django3_password_generator" class="btn btn-danger">Sourse</a>
    </div>
  </body>
</html>