<!DOCTYPE html>
<html lang="ru">
  <head>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static "generator/custom.css" %}">
      <link rel="icon" type="image/png" href="{% static "generator/atom.png" %}">
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <title>Password generator</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
  <body>

    <div class="container">
      <header class="site-header">
          <h1>Password Generator</h1>
        <h4>Choose the length of your password and then generate them</h4>
      </header>

      <section>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
          <form action="{% url 'password' %}">
              <select name="length">
              <option value="6">  6  </option>
              <option value="7">  7  </option>
              <option value="8">  8  </option>
              <option value="10">  10  </option>
              <option value="11">  11  </option>
              <option value="12" selected="selected">  12  </option>
              <option value="13">  13  </option>
              <option value="14">  14  </option>
              <option value="15">  15  </option>
              <option value="16">  16  </option>
              <option value="17">  17  </option>
              <option value="18">  18  </option>
              <option value="19">  19  </option>
              <option value="20">  20  </option>
              </select>
          </form>
      </section>

    <input type="checkbox" name="uppercase"> Uppercase
    <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
    <input type="checkbox" name="special"> Special Characters
    <br>
        <a href="{% url 'password' %}" class="btn btn-primary">Generate password</a>
        <a href="{% url 'about' %}" class="btn btn-warning">About page</a>
    </div>
  </body>
</html>



