<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Your old passwords</title>
  </head>
  <body>
    <div class="header">
      <header class="header__title">
        <h1>There are passwords you used to see. </h1>
        <p>if you see nothing, you need to generate a few passwords though</p>
      </header>

      <section class="features">
        <p class="alert alert-success"> {{ password }}</p>
      </section>
    </div>
  </body>
</html>






